*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: montserrat;
}
nav{
  background: #000000;
  height: 80px;
  width: 100%;
}
label.logo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  font-weight: bold;
}
nav ul{
  float: left;
  margin-left: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 5px 0;
}
nav ul li a{
  color: white;
  font-size: 17px;
  padding: 13px;
  border-radius: 3px;
}
a.active,a:hover{
  background: #999999;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: left;
  line-height: 80px;
  margin-left: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
#time{
  align-items: right;
}
@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-right: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 1050px){
  .checkbtn{
   display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #000000;
    top: 80px;
    right: 100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 0 50px;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #999999;
  }
  #check:checked ~ ul{
     ;
  }
}
